.app {
    background: linear-gradient(to bottom, white, #cddfef);
    display: grid;
    place-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    grid-template-columns: 1fr 2fr;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100vh;
}

.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.auth-container {
    padding: 10px;
    width: 500px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.image-box {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
}

.sub-heading {
    color: black;
    font-size: 1.5rem;
}

/* .button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: #00c2cb;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
} */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;}

.logo {
    width: 200px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline !important;
}

.link:hover {
    color: #00c2cb;
}
/* auto fill */
.remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 90%;
    gap: 1rem;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .auth-container {
        width: 100%;
        padding: 20px;
    }
    .image-box {
        display: none;
    }
    .app {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}