#orders {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: #f4fdfd;
    overflow-y: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.header-container p {
    font-size: 2rem;
    font-weight: 500;
    color: #779fa1;
}

.selected {
    color: #00c2cb
}