.edit-profile-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    max-width: 600px;
    height: auto;
    max-height: 90%;
    overflow-y:auto;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
}

/* .edit-profile-container input {
    width: 250px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
} */

/* .edit-profile-container input:focus {
    outline: none;
} */

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    opacity: 0.3;
}

.response-msg {
    margin-top: 10px;
    color: green;
    display: none;
}

.response-msg#success {
    display: block;
}

.response-msg#error {
    display: block;
    color: red;
}
