nav {
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #00c2cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;        
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.links {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.profile-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signout {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.profile-container img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-height: 40px;
    max-width: 120px;
    
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    .profile-container {
        width: 40px;
        height: 40px;
    }

    .signout {
        font-size: 1rem;
    }

    .profile-container img {
        max-height: 30px;
        max-width: 30px;
    }

    .logo-container img {
        max-height: 30px;
        max-width: 100px;
    }
}