#dashboard {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.welcome h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 2px;
}
.welcome p {
    color: #7a7a7a;
    font-size: 1.2rem;
    font-weight: 400;
}

.search {
    background-color: #ecebeb;
    padding: 10px 15px;
    max-width: 800px;
    font-size: 1.3rem;
    color: rgb(68, 68, 68);
    border-radius: 16px;
    border: solid 1px #ccc
}