#dashboard {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* background-color: #f4fdfd; */
    background-color: white;
    overflow-y: auto;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
} 

.welcome h2 {
    font-size: 2rem;
    color: rgb(81, 81, 81);
    margin-bottom: 2px;
    font-weight: 500;
}

.search-wrapper {
    max-width: 800px;
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 8px;
    border: solid 1px #00c2cb;
    margin-top: 30px;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.search {
    width: 100%;
    font-size: 1rem;
    color: rgb(121, 121, 121);
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.data-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}
.icon {
    cursor: pointer;
}

.search:hover,
.search:focus,
.search:active {
    border: none;
    outline: none;
}

.select:hover,
.select:focus,
.select:active {
    border: none;
    outline: none;
}

.viewable-data {
    margin-top: 25px;
    display: grid;
    padding: 0 16px;
    box-sizing: border-box;
    place-items: center;
    width: 95%;
    gap: 15px;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-content: center;
}

.select {
    width: 150px;
    border: none;
    color: black;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    height: 100%;
    text-align: center;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.pagination button {
    padding: 8px 16px;
    border: none;
    width: 120px;
    border-radius: 4px;
    background-color: #00c2cb;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transform: 0.3s ease-in-out;
}

.pagination button:hover {
    opacity: 0.8;
}

@media (max-width: 1500px) {
    .viewable-data {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}