.page {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: #f4fdfd;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 80px;
    max-height: 80px;
}

.header img {
    max-height: 80%;
    border-radius: 50%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(48, 47, 47);
}

.details-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    margin-top: 40px;
}

.details-container p {
    font-size: 1.2rem;
    color: rgb(48, 47, 47);
}


.accordion {
    max-width: 900px; /* Adjust width as necessary for a wider accordion */
    margin: 0 auto;
    text-align: left; /* Aligns the text of the accordion to the left */
    margin-bottom: 40px;
    margin-top: 25px;
    width: 100%;
  }

.title {
    color: #00c2cb;
    font-size: 1.2rem;
  }
  
  
  .MuiAccordion-root {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .MuiAccordionSummary-root {
    background-color: #253e6d;
    border-radius: 5px;
  }
  
  .MuiAccordionSummary-root:hover {
    background-color: #00c2cb;
    color: white;
  }
  .MuiAccordionSummary-root:hover .title {
    color: white;
  }
  
  .MuiAccordionDetails-root {
    background-color: #fafcfd;
    color: #616064;
    font-size: 1em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .MuiAccordionDetails-root p {
    font-size: 1rem;
    color: black;
    padding: 8px;
  }


  .order-btn {
    font-size: 1.1rem;
  }

  .back-btn {
  padding: 10px 20px;
  background-color: #00c2cb;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.back-btn:hover {
  opacity: 0.8;
}
.btn-container {
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .accordion {
    max-width: 90%;
  }
}