.page {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to bottom, white 35%, #cddfef 85%);
    overflow-x: hidden;
    padding-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 90px;
    max-height: 80px;
}

.header img {
    max-height: 80%;
    border-radius: 50%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(48, 47, 47);
}


  .order-btn {
    font-size: 1.1rem;
  }

  .back-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.back-btn:hover {
  opacity: 0.8;
}
.btn-container {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .accordion {
    max-width: 90%;
  }

  .details-container {
    max-width: 90%;
  }

  .details-container p {
    font-size: 0.9rem;
  }
}