.wrapper {
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

.slide-in {
  animation: slideIn 0.35s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide out to right */
.slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.appearing-content {
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.curve-line {
  width: 100%;
  height: 250px;
  position: relative;
}

.step {
  position: absolute;
  width: 200px;
  font-family: sans-serif;
}

.step1 { top: 120px; left: 5%; }
.step2 { top: 10px; left: 40%; }
.step3 { top: 80px; left: 75%; }

/* Responsiveness */
@media (max-width: 900px) {
  .step { width: 150px; }
  .step1 { left: 0%; }
  .step2 { left: 30%; }
  .step3 { left: 60%; }
}

@media (max-width: 600px) {
  .curve-line {
    height: 180px;
  }

  .step {
    position: static;
    margin: 40px auto;
    text-align: center;
  }
}

.custom-shape-divider-top-1767677778 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1767677778 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 198px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1767677778 .shape-fill {
    fill: #FFFFFF;
}