.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    min-height: 100dvh;
    width: 100%;
    
}
nav {
    grid-area: navbar;
    position: sticky;
    top: 0;
    
}
.s {
    grid-area: sidebar;
    position: sticky;
    top: 56px;
    align-self: start;
    height: calc(100dvh - 56px);
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
main {
    grid-area: main
}
footer {
    grid-area: footer
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navbar"
        "main"
        "footer";
    }
    .s {
        display: none;
    }
}