.layoutOpen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "main"
    "footer";
    min-height: 100vh;
    width: 100%;
}

main {
    grid-area: main
}
footer {
    grid-area: footer
}
