#new-order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    max-width: 70%;
    max-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-container {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 2px 8px;
    width: 100%;
}

.top-container button {
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 8px;
    font-weight: 500;
}

.cancel-btn {
    background-color: white;
    color: #00c2cb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.confirm-btn {
    background-color: #00c2cb;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.confirm-btn:hover {
    opacity: 0.8;
}
.cancel-btn:hover {
    background-color: rgb(248, 248, 248);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    opacity: 0.3;
}

.title {
    font-weight: 400;
    font-size: 2rem;
    color: rgb(96, 96, 96)
}