#new-order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    max-width: 50%;
    max-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    opacity: 0.3;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.order-content p {
    font-size: 1rem;
}

#facilityname:focus {
    outline: none;
}

.response-msg {
    margin-top: 10px;
    color: green;
    display: none;
}

.response-msg#success {
    display: block;
}

.response-msg#error {
    display: block;
    color: red;
}