#profile {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: #f4fdfd;
    overflow-y: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4px 10px;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
}

.header h2 {
    font-size: 1.7rem;
    top: 0;
    font-weight: 500;
}

.label {
    font-weight: 500;
    font-size: 1.2rem;
}


.info-container {
    width: 100%;
    background-color: white;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#names, #location, #contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.edit-btn {
    font-size: 1.2rem;
    padding: 10px 15px;
    min-width: 120px;
    border-radius: 8px;
    width: fit-content;
}
.content {
    width: 100%;
    margin: 0;
}
.d {
    flex: 1;
}
.info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.1rem;
    max-width: 90%;
    min-width: 300px;
}

.s-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.1rem;
    width: fit-content;
    min-width: 100px;
}
@media (max-width: 1300px) {
    
    .info {
        min-width: 260px;
    }

}

@media (max-width: 1000px) {
    .info-container {
        padding: 10px;
    }
    #names, #location, #contact {
        gap: 0.1rem;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .label {
        font-size: 1rem;
    }

    .info, .s-info {
        font-size: 0.9rem;
    }

    .edit-btn {
        font-size: 1rem;
        padding: 8px 12px;
    }
}