.profile {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #f4fdfd;
    overflow-y: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4px 10px;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
}

.header h2 {
    font-size: 1.7rem;
    top: 0;
    font-weight: 500;
}

.label {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(26, 26, 26);
    text-align: start;
    margin-left: 5px;
    margin-bottom: 3px;
}


.p-container {
    width: 90%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,1fr));
    align-items: center;
    place-items: center;
    gap: 1rem;
    border-radius: 8px;
    padding: 10px 15px;
    box-sizing: border-box;
   margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 25%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin-top: 15px;
    min-width: 50px;
    min-height: 50px;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
}

#two-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0;
}

#two-col div {
    max-width: 90%;
    margin: 0;
}

.edit-btn {
    font-size: 1.2rem;
    padding: 10px 15px;
    min-width: 120px;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 15px;
}

.info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    margin-top: 0;
    max-width: 90%;
}


.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 70px;
    box-sizing: border-box;
}

.user-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    padding: 10px;
    box-sizing: border-box;
}





@media (max-width: 1000px) { 

    .header h2 {
        font-size: 1.5rem;
    }

    .label {
        font-size: 1rem;
    }

    .info{
        font-size: 0.9rem;
    }

    .edit-btn {
        font-size: 1rem;
        padding: 8px 12px;
    }
    .p-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    .label {
        font-size: 0.9rem;
    }
    .info {
        font-size: 0.8rem;
    }
    
}