.container {
    width: 220px;
    height: 100%;
    /* align-self: stretch; */
    /* position: sticky;
    top: 56px; */
    display: flex;
    flex-direction: column;
    min-width: 90px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #148486;
    /* flex-grow: 1; */
}

.sub-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    align-items: center;
}

.logo-container {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-logo {
    max-height: 100%;
    /* max-width: 120px; */
}
.small-logo {
    display: none;
}

.sub-menu-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.bars {
    width: 90%;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content:  start;
    height: 50px;
    gap: 1rem;
    list-style: none;
    cursor: pointer;
    border-radius: 8px;
}
.sidebar-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content:  start;
    gap: 1rem;
    padding: 2px 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.link-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

/* .bars:hover {
    background-color: #0a6ac4;
} */

li.active {
    background-color: #299fa1;
}

.profile-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    max-height: 60px;
    margin-bottom: 1rem;
}

.profile-img {
    max-height: 60px;
    cursor: pointer;
}

.signout {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}


@media (max-width: 1100px) {
    .link-text {
        display: none;
    }
    .profile-box {
        flex-direction: column;
    }
    .signout {
        font-size: 0.9rem;
    }
    .big-logo {
        display: none;
    }
    .small-logo {
        /* height: 40px; */
        /* max-height: 100%; */
        display: block;
    }
    .bars {
        justify-content: center;
    }
    .profile-box {
        justify-content: center;
        gap: 0.5rem;
    }
    .container {
        width: 80px;
    }
    .sub-menu-container {
        gap: 2px;
    }
}