@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* src/components/PostList.css */

.users-container {
  margin: 10px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-table th, .users-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.users-table th {
  background-color: #f2f2f2;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  .users-table th, .users-table td {
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .users-table th {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .users-container {
    padding: 10px; /* Adjust container padding for smaller screens */
  }
}

.form {
  /* display: flex; */
  /* flex: 1; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-wrap: nowrap; */
  /* background-color: red; */
}

.result {
  /* max-width: 600px;
  margin: auto;
  padding: 20px; */
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  
}

.mail-number{
  flex-direction: column;
}

.id-name {
  flex-direction: column;
}

.address-diagnosis {
  flex-direction: column;
}

.file-button {  
  margin-left: 45%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;  
}

input:hover {
  border-color: #2FCBD8; 
  border-radius: 5px;  
}

button {
  background-color: #2FCBD8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #31a5b0;
  transition: background-color 0.5s ease; 
} 


