@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00c2cb;
  --secondary-color: #1c7d7f;
  --medium-gray: #F2F5FA;
  --light-gray: #FBFDFD;
  --secondary-light: #97d9e5;
  --secondary-lightest: #c5ecf3;
  --secondary-dark: #145c5d;
  --light-border-color: #e5e7eb
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (384px + 24px) * 4));
    /*transform: translateX(-50%); /* Moves exactly half the width */
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}


/* src/components/PostList.css */

.users-container {
  margin: 10px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-table th, .users-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.users-table th {
  background-color: #f2f2f2;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  .users-table th, .users-table td {
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .users-table th {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .users-container {
    padding: 10px; /* Adjust container padding for smaller screens */
  }
}

.form {
  /* display: flex; */
  /* flex: 1; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-wrap: nowrap; */
  /* background-color: red; */
}

.result {
  /* max-width: 600px;
  margin: auto;
  padding: 20px; */
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  
}

.mail-number{
  flex-direction: column;
}

.id-name {
  flex-direction: column;
}

.address-diagnosis {
  flex-direction: column;
}

.file-button {  
  margin-left: 45%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;  
}

input:hover {
  /* border-color: #2FCBD8;  */
  border-radius: 5px;  
}

button {
  background-color: #1c7d7f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: background-color 0.2s ease; 
} 


